PORT=8000
MONGODB_URI=mongodb+srv://yashpowar:Yash%402305@cluster0.w4uyhf3.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=123456852
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=videoStream
CLOUDINARY_API_KEY=149129967945482
CLOUDINARY_API_SECRET=nyQ3xyIZ7rYTEgSJrInf_FvJnj8

